body {
  background-color: Silver;
  font-family: 'Papyrus';
  font-weight: bold;
}
.month {
    padding: 20px;
    width: 90%;
    color: #B80000;
    text-align: center;
    font-size: 25px;
    line-height: 25px;
    margin: auto;
}

.month .prev {
    float: left;
    padding-top: 30px;
    color: #B80000;
}

.month .next {
    float: right;
    padding-top: 30px;
    color: #B80000;
}

.weekdays {
    margin: auto;
    padding: 15px 0px;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
    font-size: 25px;
}

.days {
    padding: 10px 0px;
    background: #eee;
    margin: auto;
    position: fixed;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    height: 80px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    color: #777;
}

.event {
    color:#B80000;
    font-size: 15px;
}

@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}
