body {
  background-color: LightGrey;
  font-family: 'Papyrus';
  font-weight: bold;
}
.month {
    padding: 20px 4px;
    width: 100%;
    background: #B80000;
    text-align: center;
    font-size: 10px;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/*.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}*/

.weekdays {
    margin: 0;
    padding: 15px 0px;
    background-color: #ddd;
    text-size: 30px;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
    text-size: 60px;
}

.days {
    padding: 10px 0px;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
    color: #777;
}

.days li .active {
    padding: 10px;
    background: #B80000;
    color: white !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}

/*body {
  background-color: LightGrey;
  font-family: 'Papyrus';
  font-weight: bold;
}

h2 {
  border: 1px dotted #B80000;
  color: #B80000;
  font-size: 25px;
  line-height: 25px;
  padding: 20px;
  margin: 20px;
  text-align: center;
}

th {
  color: black;
  font-size: 22px;
  line-height: 1px;
  margin: auto;
  padding: 10px;
  text-align: center;
}

td {
  color: #696969;
  font-size: 16px;
  margin: auto;
  border: 1px solid black;
}

table {
  margin: auto;
  border: 1px solid black;
}
*/
