body {
  background-color: LightGrey;
  font-family: 'Papyrus';
  font-weight: bold;
}

h2 {
  border: 1px dotted #B80000;
  color: #B80000;
  font-size: 25px;
  line-height: 25px;
  padding: 20px 30px;
  margin: 30px 20px;
  text-align: center;
}

th {
  color: black;
  font-size: 22px;
  line-height: 1px;
  margin-top: auto;
  padding: 10px 10px;
  text-align: center;
}

td {
 color: #696969;
  font-size: 16px;
  border: 1px solid black;
}

table {
  margin: auto;
  border: 1px solid black;
}
