body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

h2 {
  border: 1px dotted red;
  color: red;
  font-size: 25px;
  line-height: 48px;
  padding: 20px 30px;
  margin: 30px 20px;
  text-align: center;
}

th {
  color: black;
  font-size: 22px;
  line-height: 48px;
  margin-top: 30px;
  padding: 15px 20px;
  text-align: center;
}

td {
 color: grey;
  font-size: 16px;
  text-align: center;
}

table {
  border: 1px solid black;
  margin: auto;
}
